mat-hint a{
    text-decoration: none;
}
.form-row {
    width: 100%;
    max-width: 450px;
}
.amount-input {
    display: flex;
    margin: 0 auto;
}
.amount-input mat-form-field {
    width: 400px;
    margin-right: 10px;
}
button {
    margin-top: 25px;
}