<!--The content below is only a placeholder and can be replaced.-->
<!-- <section style="background: rgb(244, 245, 247)">
    <div style="width: 50%; display: inline-block; padding-top: 10vh; background: white;">
       <app-send-form></app-send-form>
    </div>
    <mat-list style="width: 45%; display: inline-block; padding-top: 10vh; padding-left: 20px;">
        <h2>Addresses</h2>
        <mat-list-item *ngFor="let acc of accounts">{{acc.address}} <span>{{acc.balance}} ETH</span></mat-list-item>
    </mat-list>
</section> -->
<router-outlet></router-outlet>
<!-- <section>
    <app-login-screen></app-login-screen>
</section> -->